<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/bas::layout(~{::section})"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-2">
        <div class="card-body">
            <h1 class="text-center">Your Contacts</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact : ${contacts}">
            <th scope="row" th:text="'SCMUSR'+${contact.cId}"></th>
            <td>
                <img class="image" src="" th:src="@{'/images/'+${contact.imageUrl}}"/>
                <a th:href="@{'/user/contact/'+${contact.cId}}" th:style="'color:black;'">
                <span th:text="${contact.name}" />
                </a>
            </td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.phone}"></td>
            <td>
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                <button type="submit" class="btn bg-primary btn-sm text-white">Update</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!--pagination-->
            <div class="container text-center mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:if="${currentPage!=0}"><a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage-1}}" href="#">Previous</a></li>

            <li class="page-item" th:each="i : ${#numbers.sequence(1,totalPages)}" th:classappend="${currentPage==i-1 ? 'active' : ''}"><a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}" th:text="${i}" href="#"></a></li>
            <li class="page-item" th:if="${currentPage+1!=totalPages}"><a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage+1}}">Next</a></li>
        </ul>
    </nav>
            </div>
        </div>
    </div>
</section>
</body>
</html>
