<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
    <h1 class="font-weight-bold">Smart Contact Manager</h1>
    <p>
        Start Collecting your contacts in a smart way .
        We provide a very efficient and smarter way of handling contacts.
    </p>
    <button type="submit" class="btn bg-primary mt-3 text-white btn-lg">Get Started</button>

</div>
</section>
</body>
</html>
